name: tizen-build-action lint
on:
  push:
  pull_request:

jobs:
  bash-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Lint Bash
        uses: azohra/shell-linter@latest
        with:
          path: '*.sh'
